<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="DevExpress Feed" value="https://nuget.devexpress.com/pT8hP28fJhQmmhPfxCgOhqTB6IGdr8y2Pm2lGDA8yyZL1GySQW/api" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
   
  </packageSources>
</configuration>